/* this is for the progress bar in ViewFundraiserModal */
.bg-NOT_THERE{
    background-color: gainsboro;
    text-decoration-color: chartreuse;
    text-decoration-color: chartreuse;
    text-decoration: solid;
}

    