
/* this is for the progress bar in ViewFundraiserModal */
.bg-NOT_THERE{
    background-color: rgb(202, 202, 202);
    text-decoration-color: rgb(150, 213, 87);
    text-emphasis-color: #ffffff;
    text-decoration: solid;
}
.progress{
    padding-top: auto;
    margin-left: 50px;
	border-radius:100px;
	height: 20px;
    max-width: 400px;
    
}
body {
    background: url("../images/Background-2.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    overflow: auto;
}
table{
    background-color: transparent;
    margin: auto;
    max-width: 50vh;

}
h2 {
    line-height: 1.5;

    padding-top: 0%;;
    font-weight: bold;
    color: #222;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px; }

    h3 {
        line-height: 0;
        font-weight: bold;
        color: #222;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px; }

    .container{
        width: fit-content;
        height: auto;
        margin: auto;
        background:rgb(255, 254, 254);
    }
    .left{
        width: 60%;
        height:200px;
        padding: 5%;
        float:left;
        background: transparent ;
    }
    .right{
        width: 40%;
        height:200px;
        padding-right: 5%;
        padding-top: 160px;
        float:left;
    }
   
 main{
    position: sticky !important;
    border-radius: 25px;
    background-color: white !important;
    width: 1000px;
    height: 800px;
    padding: 0px;
    margin: auto;
    margin-top: 2%;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    

}
img {
    display: block;
    padding-bottom: 5px;
    margin: auto;
    max-width: 80%;
  }

.primary{
    background-color: aqua;
    position: sticky;
}
